
k8s/sbox/.DS_Store
k8s/sbox/charts/.DS_Store
k8s/sbox/releases/.DS_Store
*.sw*
.idea
*.bak
k8s/sbox/charts/**/*.lock
k8s/sbox/charts/**/*.tgz
.idea
k8s/*/charts/**/*.lock
k8s/*/charts/**/*.tgz
k8s/charts/**/*.lock
k8s/charts/**/*.tgz
install_kustomize.sh
kustomize
*.DS_Store
*.iml
