# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/sds-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations

# Restricting access to platops will we cleanup
apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations

# Production applications
## environment rules
k8s/environments/prod/ @hmcts/production-apps-approvals

## Platform rules

k8s/common/ @hmcts/platform-operations
k8s/namespaces/ @hmcts/platform-operations
k8s/**/*-overlay/ @hmcts/platform-operations
k8s/namespaces/kube-system/ @hmcts/platform-operations
k8s/namespaces/monitoring/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
bin/ @hmcts/platform-operations

### Next team

## application rules

### Platform Operations

k8s/namespaces/admin/ @hmcts/platform-operations
k8s/namespaces/azure-devops/ @hmcts/platform-operations
k8s/namespaces/jenkins/ @hmcts/platform-operations
k8s/namespaces/neuvector/ @hmcts/platform-operations
k8s/namespaces/toffee/ @hmcts/platform-operations

apps/admin/ @hmcts/platform-operations
apps/azure-devops/ @hmcts/platform-operations
apps/jenkins/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/toffee/ @hmcts/platform-operations

### HMI
k8s/namespaces/hmi/ @hmcts/hmi
apps/hmi/ @hmcts/hmi

### MI
k8s/namespaces/mi/ @hmcts/mi
apps/mi/ @hmcts/mi

### PIP
k8s/namespaces/pip/ @hmcts/pip-admins
apps/pip/rpe-send-letter-service/ @hmcts/pip-admins

## VH
k8s/namespaces/vh/ @hmcts/vh-devops
apps/vh/ @hmcts/vh-devops

### Next team

### Kustomization control

k8s/namespaces/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations