# https://help.github.com/en/articles/about-code-owners
# Documentation: https://github.com/hmcts/sds-flux-config/blob/master/CODEOWNERS.md

CODEOWNERS @hmcts/platform-operations

apps/ @hmcts/platform-operations
clusters/ @hmcts/platform-operations

## Platform rules

apps/kube-system/ @hmcts/platform-operations
apps/monitoring/ @hmcts/platform-operations
tests/ @hmcts/platform-operations
.github/  @hmcts/platform-operations
bin/ @hmcts/platform-operations

### Next team

## application rules

### Platform Operations

apps/admin/ @hmcts/platform-operations
apps/azure-devops/ @hmcts/platform-operations
apps/jenkins/ @hmcts/platform-operations
apps/neuvector/ @hmcts/platform-operations
apps/toffee/ @hmcts/platform-operations

### HMI
apps/hmi/ @hmcts/hmi

### JD
apps/juror-digital @hmcts/juror-digital

### MI
apps/mi/ @hmcts/mi

### PIP
apps/pip/ @hmcts/pip-admins

## VH
apps/vh/ @hmcts/vh-devops

### DTS-LEGACY
apps/dts-legacy/ @hmcts/dts-legacy-apps

### DARTS
apps/darts-modernisation/ @hmcts/darts 

### JUROR
apps/juror/ @hmcts/juror

### OPAL
apps/opal/ @hmcts/opal

### MET
apps/met/ @hmcts/national-met

### PRE
apps/pre/ @hmcts/pre-rec-evidence

### PDDA
apps/pdda/ @hmcts/pdda

### Next team

### Kustomization control

apps/**/kustomization.yaml @hmcts/platform-operations
apps/**/kustomize.yaml @hmcts/platform-operations

### Disabled rules for renovate automerge
jenkins-azure-vm-agent.yaml
jenkins-controller-version.yaml
